html{
  background-image: url("opart/3.gif");
  background-size: 10vw;
  background-repeat: repeat;
  cursor: none;
  color: black;
  font-family: 'Anton', sans-serif;
  font-size: 7vh;
}

#mycursor {
  pointer-events: none;
 	width: 300px;
 	height: 270px;
 	background: url('opart/eye.gif') no-repeat left top;
  background-size: contain;
  position: absolute;
 	top: 0;
 	left: 0;
 	z-index: 10000;
  transition: all .2s ease-out;
}

.background{
  display: flex;
  align-items: left;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: black;
  font-family: 'Anton', sans-serif;
  font-size: 5vw;
}

.background #text{
  visibility: hidden;
}

.background:active{
  background-color: white;
  visibility: visible;
}

.background:active #text{
  visibility: visible;
}

canvas {
  width: 100%;
  height: 200px;
  background-color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#instructionBox {
  border-style: dashed;
}
